* {
	margin: 0;
	padding: 0;
	font-family: "맑은고딕";
}

.btn_style{
	width:180px;
	background-color:#009223;
	border:2px solid #009223;
	border-radius:30px;
	padding:10px;
	color:white;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:20px 10px 0 10px;
	cursor:pointer;
}
.btn_style:hover{
	border:2px solid #00791f;
	background-color:#00791f;
}
.btn_style2{
	width:180px;
	background-color:white;
	border:2px solid #009223;
	border-radius:30px;
	padding:10px;
	color:#009223;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:20px 10px 0 10px;
	cursor:pointer;
}
.btn_style2:hover{
	background-color:#009223;
	color:white;
}

.content_layout {
	/*border:1px solid blue;*/
	width: 80%;
	height:400px;
	margin: auto;
	background-color:white;
}

div.content>section {
	text-align: center;
}
/**
		관리자
		*/
section.admin h1{
	font-size:35px;
	margin:80px 0 30px 0;
	padding-top:100px;
}

section.admin article div {
	display: inline-block;
	background-color: #009223;
	padding: 10px 40px;
	margin: 30px 10px;
	color: white;
	font-size: 17px;
	border-radius: 50px;
}

section.admin article div:hover {
	background-color: gray;
}

/**
		관리자 공통
		*/
section.member_content table, section.member_content table th, section.member_content table td
	{
	border: 1px solid gray;
	border-collapse: collapse;
}

section.member_list table th, section.member_list table td, section.member_content table th,
	section.member_content table td {
	padding: 8px 0;
}



/**
		관리자 - member_list
		*/
section.member_list table {
	width: 800px;
}

section.member_list table, section.member_list table th, section.member_list table td
	{
	border-collapse: collapse;
}

section.member_list table th {
	background-color: #009223;
	color: white;
}

section.membere_list table tr>td:nth-child(2) a {
	text-decoration: none;
	color: black;
}

section.member_list table tr:last-child td {
	padding-top: 20px;
}

section.member_list h1,
section.member_content h1{
	margin:50px 0;
}

/**
		관리자 - member_content
		*/
section.member_content table {
	width: 700px;
}

section.member_content table th {
	background-color: #ffc300;
	width: 15%;
	font-size: 15px;
}

section.member_content table tr:first-child td {
	width: 10%;
}

section.member_content table tr:nth-child(2) td, section.member_content table tr:nth-child(3) td,
	section.member_content table tr:nth-child(4) td, section.member_content table tr:nth-child(5) td
	{
	text-align: left;
	text-indent: 10px;
}

section.member_content table tr:nth-child(5) td {
	height: 100px;
}

section.member_content table tr:last-child td {
	text-align: center;
	border: 1px solid rgb(246, 246, 246);
	background-color:rgb(246, 246, 246);
}
