strong {
    font-weight: bold;
}
html, body, button, dl, dt, dd, div, form, fieldset, legend, h1, h2, h3, h4, h5, h6, input, select, textarea, ul, ol, li, p, pre, table, td, th, caption, a, button, figure {
    margin: 0;
    padding: 0;
    line-height: 120%;
}

div {
    display: block;
}

/*
div .event_view_wrapper. content{
	text-align: left;
}*/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#content h2.subTitle {
    font-size: 40px;
    color: #292929;
    font-weight: bold;
    letter-spacing: -0.07em;
    padding: 134px 0 80px;
}

body {
    font-size: 16px;
    color: #666666;
    font-family: font_ns, sans-serif;
}

.event_slider_wrapper {
    background-color: #fff;
    padding-bottom: 67px;
}

.event_slider_wrapper .event_slider_cont {
    width: 1170px;
    margin: 0 auto;
    height: 450px;
    position: relative;
}

element.style {
    max-width: 100%;
}


element.style {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 400px;
}

element.style {
    width: 4215%;
    position: relative;
    transition-duration: 0s;
    transform: translate3d(0px, 0px, 0px);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    text-align: -webkit-match-parent;
    display: list-item;
    
}

ol, ul {
    list-style: none;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_img {
    width: 770px;
    height: 400px;
    float: left;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_img img {
    width: 100%;
    height: 100%;
}
img {
    vertical-align: top;
    border: 0;
}

element.style {
    opacity: 1;
    top: 0px;
}
.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info {
    margin-left: 800px;
    margin-top: 16px;
    position: relative;
    min-height: 380px;
    top: 30px;
    opacity: 0;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .date {
    margin-bottom: 9px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .date em {
    color: #009223;
    font-size: 22px;
    font-family: font_sw;
    font-weight: bold;
    letter-spacing: -0.015em;
}
em {
    font-style: italic;
}
em {
    font-style: normal;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .title {
    font-size: 28px;
    color: #292929;
    font-weight: bold;
    line-height: 42px;
    letter-spacing: -0.03em;
    display: block;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .summary {
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    letter-spacing: -0.04em;
    margin-top: 27px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .btn_more {
    color: #bbbbbb;
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 16px;
    letter-spacing: -0.05em;
    width: 140px;
    height: 50px;
    line-height: 50px;
    background-color: #009223;
    border-radius: 50px;
    color: #fff;
    text-indent: 21px;
}

a {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #333;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_info .btn_more:after {
    content: '';
    background: url(../event/images/icon_arr_r01.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 18px;
}

element.style {
    float: left;
    list-style: none;
    position: relative;
    width: 1170px;
}
.event_slider_wrapper .event_slider_cont .bx-wrapper li {
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .event_img img {
    width: 100%;
    height: 100%;
}


.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-controls-direction .bx-prev {
    background-position: 0 0;
    left: -145px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-controls-direction .bx-next {
    background-position: 100% 0;
    right: -145px;
}


.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-controls-direction a {
    width: 50px;
    height: 50px;
    background: url(../event/images/icon_event_slider_arr.png) no-repeat;
    position: absolute;
    overflow: hidden;
    font-size: 0;
    line-height: 0px;
    top: 175px;
    text-indent: -9999px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-pager {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -3px;
    text-align: center;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-pager .bx-pager-item {
    display: inline-block;
    margin: 0 5px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-pager a.active {
    background-color: #ffc300;
    width: 30px;
}

.event_slider_wrapper .event_slider_cont .bx-wrapper .bx-pager a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #dddddd;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 30px;
    transition-duration: 0.3s;
}

.event_list_wrapper {
    background-color: #f6f6f6;
    padding-bottom: 130px;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.event_list_wrapper .tab_wrapper {
    text-align: center;
    padding: 100px 0 57px;
}

.event_list_wrapper .tab_wrapper ul {
    overflow: hidden;
    display: inline-block;
    border-radius: 50px;
}

.event_list_wrapper .tab_wrapper ul li {
    float: left;
    background-color: #fff;
    position: relative;
}

.event_list_wrapper .tab_wrapper ul li a {
    display: block;
    color: #666666;
    width: 220px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    height: 45px;
    line-height: 45px;
    position: relative;
    z-index: 3;
}


.event_list_wrapper .tab_wrapper ul li:first-child {
    border-radius: 50px 0 0 50px;
}

.event_list_wrapper .tab_wrapper ul li:first-child a {
    border-radius: 50px 0 0 50px;
}

.event_list_wrapper .tab_wrapper ul li:first-child:after {
    display: none;
}
.event_list_wrapper .tab_wrapper ul li:after {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    width: 2px;
    height: 15px;
    background-color: #dddddd;
}

.event_list_wrapper .tab_wrapper ul li.active a {
    color: #fff;
    font-weight: bold;
    background-color: #58006c;
    right: -1px;
}

.event_list_wrapper .event_list_content ul {
    overflow: hidden;
    margin-left: -30px;
    padding: 0px 0px;
}

.event_list_wrapper .event_list_content ul li {
    float: left;
    margin: 0 0 30px 30px;
}

.event_list_wrapper .event_list_content ul li a {
    display: block;
    position: relative;
    width: 370px;
    height: 320px;
    background-color: #ffffff;
    overflow: hidden;
}

.event_list_wrapper .event_list_content ul li .event_img {
    width: 370px;
    height: 192px;
    overflow: hidden;
}

.event_list_wrapper .event_list_content ul li .event_img img {
    width: 100%;
    height: 100%;
}

.event_list_wrapper .event_list_content ul li .event_info {
    padding: 10px 26px 0 26px;
}

.event_list_wrapper .event_list_content ul li .event_info .title {
    color: #292929;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
    letter-spacing: -0.04em;
    display: block;
    padding-top: 9px;
}

.event_list_wrapper .event_list_content ul li .event_info .date {
    position: absolute;
    left: 26px;
    bottom: 23px;
}

.event_list_wrapper .event_list_content ul li .event_info .date em {
    color: #009223;
    font-size: 16px;
    font-family: font_sw;
    font-weight: bold;
    position: relative;
    top: 1px;
}

.event_list_wrapper .event_list_content ul li.close .event_img {
    background-color: #000;
}

.event_list_wrapper .event_list_content ul li.close .event_img img {
    filter: grayscale(100);
    opacity: 0.6;
}

.btn_list_more {
    display: block;
    width: 450px;
    height: 50px;
    line-height: 50px;
    margin: 10px auto 0;
    background-color: #e5e5e5;
    color: #999999;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
}

form {
    display: block;
    margin-top: 0em;
}

input {
    vertical-align: middle;
    font-family: font_ns, sans-serif;
    outline: none;
}

input[type="hidden" i] {
    display: none;
    appearance: none;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
    border-color: initial;
    border-radius: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
}


/****** 상세 이벤트 페이지  ******/
.event_view_wrapper {
    padding-top: 130px;
    position: relative;
    padding-bottom: 130px;
}

.event_view_wrapper .title {
    color: #292929;
    font-size: 36px;
    font-weight: bold;
    width: 800px;
    letter-spacing: -0.04em;
    line-height: 50px;
    text-align: left;
}

.event_view_wrapper .date {
    margin: 29px 0 27px;
    text-align: left;
}

.event_view_wrapper .date em {
    color: #009223;
    font-size: 22px;
    font-family: font_sw;
    font-weight: bold;
}

.event_view_wrapper .event_view_conten {
    margin-bottom: 59px;
    width: 800px;
}

.event_view_wrapper .event_view_conten .text_wrap {
    font-size: 15px;
    color: #666666;
    margin-top: 27px;
    letter-spacing: -0.04em;
}

.event_view_wrapper .event_view_conten .text_wrap img {
    max-width: 800px;
}

.btn_list {
	width: 170px;
	position: relative;
	margin: 0 auto;
}

.btn_list a {
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	background-color: #009223;
	height: 50px;
	line-height: 50px;
	text-align: left;
	border-radius: 50px;
	text-indent: 70px;
	letter-spacing: -0.03em;
	transition-duration: 0.2s;
}

.btn_list:before, .btn_list:after, .btn_list a:after {
	content: '';
	position: absolute;
	left: 36px;
	width: 20px;
	height: 4px;
	background-color: #ffce32;
}

.btn_list:before {
	top: 16px;
}

.btn_list a:after {
	top: 23px;
}

.btn_list:after {
	top: 31.5px;
}

.event_view_wrapper .board_right {
    position: absolute;
    left: 870px;
    top: 10px;
    width: 300px;
}

.event_view_wrapper .board_right .board_nav_cont:first-child {
    margin-top: 0;
}
.event_view_wrapper .board_right .board_nav_cont {
    margin-top: 30px;
}

.event_view_wrapper .board_right .board_nav_cont a {
    display: block;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.prev {
    bottom: 12px;
    transform: rotate(-90deg);
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.prev .arr {
    left: 56px;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt .arr {
    position: absolute;
    bottom: 8px;
    height: 4px;
    width: 20px;
    background-color: #bbbbbb;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_summary {
    position: absolute;
    left: 60px;
    top: 24px;
    right: 60px;
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    z-index: 3;
    opacity: 0;
    letter-spacing: -0.03em;
}

.event_view_wrapper .board_right .board_nav_cont .date {
    position: absolute;
    left: 60px;
    bottom: 1px;
    font-size: 13px;
    color: #fff;
    z-index: 3;
    letter-spacing: -0.05em;
    opacity: 0;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_img {
    width: 270px;
    height: 140px;
    float: right;
    position: relative;
    overflow: hidden;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.next {
    top: 12px;
    transform: rotate(-90deg);
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.next .arr {
    right: 56px;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt {
    position: absolute;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.07em;
    left: -17px;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.prev .arr:after {
    background: url(../event/images/icon_arr_u01.gif) 0 0 no-repeat;
    left: 100%;
    margin-left: -3px;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt.next .arr:after {
    background: url(../event/images/icon_arr_d01.gif) 0 0 no-repeat;
    left: 0;
    margin-left: -9px;
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_txt .arr:after {
    content: '';
    width: 12px;
    height: 8px;
    position: absolute;
    top: -2px;
    transform: rotate(90deg);
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_img:after {
    content: '';
    position: absolute;
    border: 10px solid #009223;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(0,0,0,0);
}

.event_view_wrapper .board_right .board_nav_cont .board_nav_img img {
    width: 100%;
}
