#map{
	margin-bottom:50px;
	width:100%;
	height:700px;
	position:relative;
	overflow:hidden;
}
html, body { 
margin: 0px; 
padding: 0px; 
} 
#wrapper{ 
width: 100%; 
margin: 0 auto; 
} 
/* div#map{
	margin-bottom:50px;
} */
/* div.map>iframe{
	width:100%;
	height:700px;
} */