*{
	margin:0; padding:0;	
	font-family:"¸¼Àº°íµñ";
}

/********************
	order - content 
********************/

div.order_content{
	width:100%;
	margin:auto;
	background-image:url('http://localhost:9000/Subway/order/order_images/home_bg.jpg');
	background-repeat:no-repeat;
	background-position:top center;
	background-color:#0aa8e7;
	text-align:center;
}
section.order_title{
	width:1280px;
	margin:auto;
}
section.order_title>div{
	display:inline-block;
}
section.order_title div>h1{
	font-size:80px;
	font-weight:bold;
	color:white;
	padding:60px 0 15px 0;
}
section.order_title div>span{
	font-size:15px;
	font-weight:bold;
	color:white;
}
/**/
article.order_step0>div>img,
article.order_step>div>img,
article.order_step2>div>img,
article.order_step3>div>img{
	display:inline-block;
	vertical-align:middle;
	padding:10px;
}
article.order_step0>div>div,
article.order_step>div>div,
article.order_step2>div>div,
article.order_step3>div>div{
	display:inline-block;
	vertical-align:middle;
	text-align:left;
	padding:0 30px 10px 10px;
	margin-left:-130px;
}
article.order_step0>div>div>span:first-child,
article.order_step>div>div>span:first-child,
article.order_step2>div>div>span:first-child,
article.order_step3>div>div>span:first-child{
	font-size:18px;
	color:#ffc300;
}
article.order_step0>div>div>span:last-child,
article.order_step>div>div>span:last-child,
article.order_step2>div>div>span:last-child,
article.order_step3>div>div>span:last-child{
	font-size:22px;
	color:white;
}
/**/
article.order_step0>div>img:first-child,
article.order_step>div>img:nth-child(3),
article.order_step2>div>img:nth-child(5),
article.order_step3>div>img:nth-child(7){
	padding:65px 0;
	margin-right:-50px;
	margin-bottom:-70px;
}

/****/
section.menu_list{
	width:1170px;
	margin:auto;
}
section.menu_list>div.menu_tap{
	display:inline-block;
	background-color:white;
	width:1170px;
	height:74px;
	box-shadow: 0 10px 10px -10px lightgray;
	position: sticky;
}
section.menu_list>div.menu_tap>ul{
	display:inline-block;
	list-style-type:none;
	text-align:center;
}
section.menu_list>div.menu_tap li{
	display:inline-block;
	padding:25px 50px;
}
section.menu_list>div.menu_tap a{
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#555555;
}
div.menu_tap li.sandwich, div.menu_tap li.cookie, div.menu_tap li.drink{
	background-color:#009223;
}
div.menu_tap li.sandwich>a, div.menu_tap li.cookie>a, div.menu_tap li.drink>a{
	color:white;
}

/**/
section.menu_list>div.menu_sandwich{
	display:inline-block;
	background-color:white;
	width:1170px; 
	text-align:center;
	margin-bottom:150px;
}

div.menu_sandwich ul{
	display:inline-block;
	list-style-type:none;
	text-align:center;
	padding:20px;
	margin-top:30px;
}


div.menu_sandwich li{
	display:inline-block;
}
div.menu_sandwich a{
	text-decoration:none;
}
div.menu_sandwich p{
	padding:60px 0;
}
div.menu_sandwich img{
	display:inline-block;
	width:270px;
	margin:0 50px;
	padding-bottom:10px;
	float:left;
}
div.menu_sandwich strong{
	font-size:22px;
	font-weight:bold;
	color:black;
}
div.menu_sandwich span{
	display:block;
	margin:5px 0 10px 0;
}
div.menu_sandwich span.eng_name{
	font-size:18px;
	font-weight:bold;
	color:gray;
}
div.menu_sandwich span.kcal{
	font-size:20px;
	font-weight:bold;
	color:#ffc300;
}

/****/
div.menu_sandwich a{
	overflow:hidden;
}
div.menu_sandwich img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}
div.menu_sandwich a:hover>img {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);   
    -o-transform:scale(1.1);
    transform:scale(1.1);
}


/********************
	order_detail 
	- content 
********************/
div.order_detail{
	width:1000px;
	margin:120px auto;
}
article.menu_inform>div{
	display:inline-block;
	text-align:center;
}
article.menu_inform img{
	display:inline-block;
	width:485px;
	margin:0 40px 0 0;
}
article.menu_inform p{
	display:inline-block;
	text-align:left;
	margin-top:10px;
	margin-right:50px;
}
article.menu_inform p>span:first-child{
	font-size:18px;
	font-weight:bold;
	color:#009223;
}
article.menu_inform p>strong{
	font-size:45px;
	color:black;
}
article.menu_inform p>span.eng_name{
	font-size:20px;
	font-weight:bold;
	color:#b2b2b2;
	padding-bottom:10px;
}
article.menu_inform p>span.infor{
	font-size:15px;
	color:#b2b2b2;
}
/**/
section.nutrient{
	width:1000px;
	margin:40px 0 60px 0;
}
section.nutrient>h1{
	text-align:left;
	font-size:25px;
	font-weight:bold;
	color:#696969;
}
table.content_layout{
	border-top:4px solid #009223;	
	border-bottom:1px solid lightgray;	
	width:1000px;
	margin:40px auto;
}
table.content_layout th{
	border-bottom:1px solid #009223;
	font-size:16px;	
	color:#009223;
	padding:20px 0;
	text-align:center;
}
table.content_layout td{
	font-size:16px;
	color:#696969;
	padding:20px 0;
	text-align:center;
}
section.nutrient>div{
	text-align:left;
	font-size:13px;
	color:#7a7a7a;
	margin-top:-10px;
}
section.nutrient span:first-child{
	margin-bottom:-3px;
}

/**/
section.order_btn{
	text-align:center;
}
.btn_style{
	width:180px;
	background-color:#009223;
	border:2px solid #009223;
	border-radius:30px;
	padding:10px;
	color:white;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:20px 10px 0 10px;
	cursor:pointer;
}
.btn_style:hover{
	border:2px solid #00791f;
	background-color:#00791f;
}
.btn_style2{
	width:180px;
	background-color:white;
	border:2px solid #009223;
	border-radius:30px;
	padding:10px;
	color:#009223;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:20px 10px 0 10px;
	cursor:pointer;
}
.btn_style2:hover{
	background-color:#009223;
	color:white;
}
section.order_btn img{
border:1px solid red;
	width:20px;
	float:right;
}

/** ¸ð´ÞÃ¢ **/
div.modal_wrap{
    justify-content:center; 
 	align-items:center; 
	display:none;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    right:0;
 	bottom:0;   
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0, 0,0, 0.5);
}
div.popup{
	width:520px;
	height:417px;
	position:absolute; 
	top:10%;
    left:50%;
    margin-left:-260px;
    background-color:#FFC300;
    border-radius:20px;  
    z-index: 2; 
    display:flex; 
    align-items:center;
    justify-content:center;
}/*
div.popup>iframe{
	border:1px solid white;
	display:inline-block;
	width:500px;
	margin:auto;
	text-align:center;
}*//*
div.popup_content{
	width:500px; height:300px;
	background-color:white;
}*/
div.popup_btn{
	border:1px solid red;
}
div.popup_btn>button{
	width:130px;
	margin:0;
}
div.modal_close{
	width:73px;
    height:73px;
    position:absolute;
    top:11%;
    left:50%;
    margin-left:275px;
}
div.modal_close>a{
    display:block;
    width:100%;
    height:100%;
    background:url(http://localhost:9000/Subway/order/order_images/icon_popup_close.png);
    background-repeat:no-repeat;
}

/********************
	order_confirm 
	- content 
********************/

section.confirm{
	text-align:center;
	margin-bottom:20px;
}
section.confirm dl{
	display:inline-block;
	width:990px;
	text-align:left;
	margin:10px;
}
section.confirm dt{
	display:inline-block;
	width:225px;
	height:130px;
	vertical-align:middle;
}
section.confirm dd{
	border-top:1px solid lightgray;
	border-right:1px solid lightgray;
	border-bottom:1px solid lightgray;
	display:inline-block;
	width:750px;
	height:128px;
	text-align:center;
	margin-left:-5.6px;
	vertical-align:middle;
}
section.confirm dt>img{
	width:69px;
	margin:15px;
}
section.confirm dt>strong{
	display:inline-block;
	color:#ffce32;
	font-size:20px;
	margin-top:30px;
}
section.confirm dt>span{
	display:inline-block;	
	color:white;
	font-size:23px;
	font-weight:bold;
}

li.step01 dt{
	background-color:#009223;
	border-radius:40px 0 0 0;
}
li.step02 dt{
	background-color:#FF8300;
}
li.step03 dt{
	background-color:#9631A8;
}
li.step03 dd{
	border-radius:0 0 40px 0;
}

section.confirm ul{
	width:690px;
	text-align:left;
}
section.confirm ul>li{
	background-color:#009223;
	border-radius:5px;
	text-align:center;
	width:125px;
	padding:8px 0;
	margin:0 3px;
}
section.confirm ul>li:last-child{
	width:137px;
}
section.confirm ul>li>a{
	text-align:center;
	color:white;
	font-weight:bold;
}
/**/
section.order_price{
	border-bottom:1px solid lightgray;
	width:980px;
	margin:40px 0;
	padding-bottom:10px;
	display:inline-block;
}
section.order_price span{
	display:inline-block;
	font-size:25px;
	font-weight:bold;
	padding-right:10px;
}
div.count{
	float:left;
	margin-top:15px;
}
div.count>input{
	cursor:pointer;
	width:40px;
	height:40px;
	border:0;
	vertical-align:middle;
	margin-left:10px;
	margin-top:-10px;
}
div.count>input#minus{
	background:url('http://localhost:9000/Subway/order/order_images/btn_minus.png');
	background-repeat:no-repeat;
}
div.count>input#plus{
	background:url('http://localhost:9000/Subway/order/order_images/btn_plus.png');
	background-repeat:no-repeat;
}
div.count>span{
	color:#555555;
	margin-left:10px;
}
div.count #count_result{
	font-size:35px;
	font-weight:bold;
	color:black;
	padding:0 15px;
	margin-top:-15px;
	text-align:center;
}

div.price{
	text-align:right;
}
div.price #count_price{
	font-size:40px;
	font-weight:bold;
	color:#009223;
	border:none;
	width:150px;
	text-align:right;
	margin-right:10px;
}
div.price>span:last-child{
	color:#009223;
}


/********************
	order_final
	- content 
********************/
div.order_detail h2{
	text-align:left;
	font-size:25px;
	font-weight:bold;
	color:#696969;
	padding:15px 0;
	margin-top:50px;
}
section.order_form_box{
	text-align:left;
	margin-top:-50px;
}
div.store_form>div:first-child>dl{
	background-color:#f2f2f2;
	border:1px solid #f2f2f2;
}
section.order_form_box dl{
	display:inline-block;
	border:1px solid lightgray;
	text-align:left;
	margin:5px auto;
	padding:25px 20px;
}
section.order_form_box dt,
section.final_menu_confirm dt, 
section.total_amount dt{
	display:inline-block;
	width:150px;
	margin-left:20px;
	font-weight:bold;
	vertical-align:middle;
}
section.order_form_box dd{
	display:inline-block;
	width:765px;
	margin-left:10px;
	vertical-align:middle;
}
section.order_form_box dd>input[type="text"]{
	border:none;
	width:250px;
	font-size:15px;
}
section.order_form_box dd>input::placeholder{
	color:lightgray;
}
section.order_form_box dd>label{
	vertical-align:middle;
	margin-right:10px;
}
section.order_form_box dd>input[type="radio"]{
	-webkit-appearance: none;
    -moz-appearance: none;
	width:25px; 
	height:25px;
	margin-right:10px;
	vertical-align:middle;
	border:1px solid lightgray;
	border-radius: 100%;
}
section.order_form_box dd>input[type="radio"]:checked{
	-webkit-appearance: none;
    -moz-appearance: none;
	width:25px; 
	height:25px;
	margin-right:10px;
	vertical-align:middle;
	border:1px solid light;
	border-radius: 100%;
	background-image:url('http://localhost:9000/Subway/order/order_images/icon_checkbox.png');
}
/**/
div.coupon_choice select{
	border:1px solid lightgray;
	width:655px;
	padding:10px;
	margin-left:-40px;
	font-size:15px;
	color:lightgray;
}
div.coupon_choice dd>div{
	display:inline-block;
	width:2px;
	height:30px;
	margin-left:20px;
	vertical-align:middle;
	background-color:lightgray;
}
div.coupon_choice dd>a{
	margin-left:30px;
	font-size:16px;
	font-weight:bold;
	color:#009223;
}
/**/
div.pay_choice a{
	text-align:center;
	color:white;
	font-weight:bold;
}
div.pay_choice ul{
	margin:0;
	padding:0;
}
div.pay_choice ul>li{
	background-color:#009223;
	border-radius:5px;
	text-align:center;
	width:125px;
	padding:8px 0;
	margin:0 3px;
	vertical-align:middle;
}
div.pay_choice ul:first-child>li:nth-child(2),
div.pay_choice ul:first-child>li:nth-child(3){
	background-color:#f2f2f2;
}
div.pay_choice ul:first-child>li:nth-child(2)>a,
div.pay_choice ul:first-child>li:nth-child(3)>a{
	color:gray;
}

/**/
section.final_menu_confirm, section.total_amount{
	text-align:left;
}
section.final_menu_confirm>div{
	border-top:4px solid #009223;	
	border-bottom:1px solid #009223;	
	margin:10px auto;
	padding:30px 10px 20px 10px;
}
section.final_menu_confirm dt{
	width:650px;
}
section.final_menu_confirm dd, section.total_amount dd{
	display:inline-block;
	float:right;
}
#listBtn{
	float:right;
	margin:10px 0 0 15px;
	/* transform: scaleY(-1); */
}
#option{
	color:gray;
	font-size:14px; 
	text-align:left;
	padding-top:3px;
}
#menu_amount{
	display:inline-block;
	color:gray;
	font-size:17px;
	margin-right:80px;
}
#addSide{
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
	padding:25px 0;
	margin:10px 0 30px 0;
}

/**/
section.total_amount>div{
	border-top:4px solid #009223;	
	border-bottom:1px solid lightgray;	
	margin:10px auto 40px auto;
	padding:50px 10px;
}
section.total_amount dl:nth-child(2){
	border-top:1px solid lightgray;	
	border-bottom:1px solid lightgray;	
	padding:30px 0;
	margin:20px 0 40px 0;
}
section.total_amount dl:last-child>dd{
	color:#009223;
	font-size:20px;
	font-weight:bold;
}
#couponTotal{
	width:200px;
	color:block;
	font-size:22px;
	font-weight:bold;
	border:none;
	text-align:right;
	padding-right:10px;
}
#finalTotal{
	width:200px;
	color:#009223;
	font-size:30px;
	font-weight:bold;
	border:none;
	text-align:right;
	padding-right:10px;
}

/**********************
	order_final_check
	- content 
**********************/
div.order_final_form{
	display:inline-block;
	width:500px; height:300px;
	text-align:center;
	margin:50px auto;
}
div.order_final_form>img{
	width:80px;
	margin:0;
	padding:50px 0 40px 200px;
}
div.order_final_form>div{
	display:inline-block;
	font-size:25px;
	font-weight:bold;
}

/****************
	order_map
	- content 
*****************/
div.order_map>iframe{
	width:1170px;
	height:700px;
	margin-bottom:50px;
}
#map{
	width:1170px;
	height:700px;
	margin-bottom:50px;
}
section.map_order_btn{
	padding-bottom:100px;
}